/* =================================
  Base Styles
==================================== */


* {
	/*show this as a fix for two column layout*/
	box-sizing: border-box;
}

#container{
    max-width:960px;
    min-width: 750px;
    margin:0px auto 0px auto;
    
}

#mainnav {
  padding-top: 25px;

}

/* The menu bar */
li{
    color:blanchedalmond;
    display:inline;
    padding: 10px;
    margin-right: 15px;
}
/*Change color on hover*/
li:hover{
    background: #0b5a9c;
    color: white;
    cursor: pointer;
}

h1{
    padding: 10px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;

}

/*.div4{
    image-rendering: auto;
    background-repeat: no-repeat;
      background-position: left top;
      padding-top:68px;
      margin-bottom:50px;
}
*/

body {
            font-family:'Josefin Sans', sans-serif;
}

a:link, a:visited {
    color: white;
    text-align: center; 
    text-decoration: underline;
    
}

img {
    width: 100%;
    height: 100px;
	background-image: url('../midterm/images/amandabook%20copy%20copy.jpg');
     background-repeat: no-repeat;
    background-size: contain;
    	margin: 0 auto 0 auto;
    padding: 25;
}
    p {
    padding:25;

}
	


body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Josefin Sans', sans-serif;

}

.div1 {

	 background-color:darkseagreen;
	 text-align: center;
	  line-height: 150px;
	 color: white;
	 width: 200px;
	 height: 200px;
	 margin-right: 50px;
	 display: inline-block;
	 border-radius: 50%;
    
}


.div2 {

	 background-color:darksalmon;
	 text-align: center;;
	 line-height: 150px;
	 color: white;
	 width: 200px;
	 height: 200px;
	 margin-right: 50px;
	 display: inline-block;
	 border-radius: 50%;
    
}

.div3 {

	 background-color:darkorange;
	 text-align: center;
	  line-height: 150px;
	 color: white;
	 width: 200px;
	 height: 200px;
	 margin-right: 50px;
	  border-radius: 50%;
	 display: inline-block;
    
}

div:hover {
	 box-shadow: 10px 10px rgba(0,0,0,.2);
    

